################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API
/API/WebAPI/bin/Debug/net5.0
/API/WebAPI/obj
